@model HelpUs.Models.HomeViewModel
@{
    ViewBag.Title = "Menu";
}
<style>
    .first {
        margin-bottom: 10px;
        border: 2px solid red
    }
</style>

<div id="main">
    <div class="col-md-12">
        @if (Model.ListCasos.Count() > 0)
        {
            foreach (var caso in Model.ListCasos)
            {
                <div class="col-md-6 first">
                    <div class="col-md-4">
                        <img class="img-rounded img-responsive" src="~/Images/mascaras.jpg" />
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-12">
                            <h2 style="text-align:center">@caso.TituloCaso</h2>
                        </div>
                        <div class="col-md-12" style="max-height:40%; min-height:30%">
                            @caso.DescricaoCaso
                        </div>
                        @if (caso.Quantidade != null)
                        {
                            <div class="col-md-4">
                                <label>Quantidade Arrecadada: <b style="color:green">@caso.QuantidadeTotal</b></label>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-4">
                                <label>Quantidade Necessaria: <b style="color:blue">@caso.Quantidade</b></label>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-4">
                                <label>Valor Arrecadado: <b style="color:green">R$@caso.ValorTotal</b></label>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-4">
                                <label>Valor Necessario: <b style="color:blue">R$@caso.Valor</b></label>
                            </div>
                        }
                        <div class="col-md-3">
                            <button onclick="location.href='@Url.Action("Details", "Home", new { caso.IdCaso })'" class="btn btn-default">Detalhes</button>
                        </div>
                    </div>
                </div>
            }            
        }
        else
        {

        }
    </div>
</div>