@model HelpUs.Models.CasosViewModel


<div class="row">
    @using (Html.BeginForm("Update", "Casos", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HttpMethodOverride("PUT")

        <div class="form-horizontal">
            <input type="hidden" id="IdCaso" name="IdCaso" value="@Model.IdCaso"/>

            <div class="form-group">
                <label class="col-md-2 control-label">Titulo</label>
                <div class="col-md-3">
                    <input type="text" id="TituloCaso" name="TituloCaso" value="@Model.TituloCaso" class="form-control" />
                </div>
                <label class="col-md-2 control-label">Categorias</label>
                <div class="col-md-3">
                    <select id="IdCategoria" class="form-control">
                        @foreach (var cat in Model.CategoriasSelect)
                        {
                            <option value="@cat.Value">@cat.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Data de Inicio</label>
                <div class="col-md-2">
                    <input asp-for="InicioObra" type="date" class="form-control">
                </div>
                <label class="col-md-2 control-label">Data de Termino</label>
                <div class="col-md-2">
                    <input asp-for="TerminoObra" type="date" class="form-control">
                </div>
            </div>

            <div class="form-actions">
                <button id='btnSubmit' class='btn btn-primary' type='submit'><i class='fa fa-save'></i> Update</button>
                <a href='' onclick='history.go(-1); return false;' class='btn btn-default'> Cancelar</a>
            </div>
        </div>
    }
</div>